body {
  background-color: beige;
}

.new-item-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-search-bar {
  text-align: center;
  background-color: blanchedalmond;
  border-color: beige;
  border-radius: 5px;
  min-width: 50%;
}

.add-btn {
  min-width: 50%;
  margin-top: 2px;
  background-color: yellow;
  border-radius: 5px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: goldenrod;
  transition: 0.5s;
}

.header {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.btn-danger {
  border: 2px black solid;
  border-radius: 5px;
  background-color: pink;
  cursor: pointer;
}

.btn-danger:hover {
  border-color: red;
  background-color: red;
}

.list-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
  background-color: lightgrey;
  margin: 2px 2px 2px 2px;
  border-radius: 2px;
}

.list-item-disabled {
  text-decoration: line-through;
}

.text-container {
  padding: 2px 2px 2px 2px;
  margin: 2px 2px 2px 2px;
}

.input-checkbox {
  cursor: pointer;
}

ul {
  padding: 0px;
}
